NodeRed/flows_all.json
[{"id":"22117ef5.34e782","type":"tab","label":"4_Alexa Play Music","disabled":false,"info":"","env":[]},{"id":"9f76a73d.640158","type":"ui_dropdown","z":"22117ef5.34e782","name":"","label":"Provider","tooltip":"","place":" ","group":"7bea4aa8.d8cdb4","order":5,"width":"5","height":"1","passthru":true,"options":[{"label":"","value":"","type":"str"}],"payload":"","topic":"","x":280,"y":340,"wires":[["6b030e1e.22ab4"]]},{"id":"6b030e1e.22ab4","type":"change","z":"22117ef5.34e782","name":"","rules":[{"t":"set","p":"provider","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":300,"y":380,"wires":[[]]},{"id":"795331d2.4d248","type":"ui_button","z":"22117ef5.34e782","name":"","group":"7bea4aa8.d8cdb4","order":9,"width":"0","height":"0","passthru":false,"label":"Play","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":70,"y":480,"wires":[["694ab438.033a6c"]]},{"id":"4be302b4.1a858c","type":"ui_text_input","z":"22117ef5.34e782","name":"","label":"Query","tooltip":"","group":"7bea4aa8.d8cdb4","order":8,"width":"0","height":"0","passthru":true,"mode":"text","delay":300,"topic":"","x":70,"y":440,"wires":[["cfbacffa.4610d"]]},{"id":"cfbacffa.4610d","type":"change","z":"22117ef5.34e782","name":"","rules":[{"t":"set","p":"query","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":240,"y":440,"wires":[[]]},{"id":"cdaafda8.522d2","type":"change","z":"22117ef5.34e782","name":"","rules":[{"t":"set","p":"device","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":300,"y":180,"wires":[[]]},{"id":"ef3ab5e9.2ff358","type":"ui_button","z":"22117ef5.34e782","name":"Pause","group":"39eba160.64cc2e","order":1,"width":"3","height":"1","passthru":false,"label":"","tooltip":"","color":"","bgcolor":"","icon":"fa-pause","payload":"","payloadType":"str","topic":"","x":70,"y":540,"wires":[["faa04f1d.4e6b2"]]},{"id":"9699ce9d.52c47","type":"ui_button","z":"22117ef5.34e782","name":"Resume","group":"39eba160.64cc2e","order":2,"width":"3","height":"1","passthru":false,"label":"","tooltip":"","color":"","bgcolor":"","icon":"fa-play","payload":"","payloadType":"str","topic":"","x":80,"y":580,"wires":[["82967d34.a410f"]]},{"id":"d6bf1cf0.0bb69","type":"ui_slider","z":"22117ef5.34e782","name":"Volume Slider","label":"","tooltip":"","group":"39eba160.64cc2e","order":6,"width":"4","height":"1","passthru":true,"outs":"end","topic":"","min":0,"max":"100","step":1,"x":240,"y":720,"wires":[["91ba2c5a.82db3"]]},{"id":"5655df2f.935bd","type":"change","z":"22117ef5.34e782","name":"","rules":[{"t":"set","p":"options","pt":"msg","to":"payload.accountName[]","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":300,"y":100,"wires":[["88993c00.433968"]]},{"id":"88993c00.433968","type":"ui_dropdown","z":"22117ef5.34e782","name":"","label":"Device","tooltip":"","place":" ","group":"7bea4aa8.d8cdb4","order":2,"width":"5","height":"1","passthru":true,"options":[{"label":"","value":"","type":"str"}],"payload":"","topic":"","x":270,"y":140,"wires":[["cdaafda8.522d2"]]},{"id":"40afda1c.564ec4","type":"change","z":"22117ef5.34e782","name":"","rules":[{"t":"set","p":"options","pt":"msg","to":"payload.id[]","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":300,"y":260,"wires":[["8e70f216.b7341"]]},{"id":"8e70f216.b7341","type":"function","z":"22117ef5.34e782","name":"pretty label","func":"let prettify = s => {\n\ts = s.replace('_', ' ');\n\ts = s.toLowerCase();\n\ts = s.split(' ').map(w => w[0].toUpperCase() + w.slice(1)).join(' ');\n\treturn s;\n};\n\nmsg.options = msg.options.map(o => {\n    let obj = {};\n    obj[prettify(o)] = o;\n    return obj;\n});\n\nreturn msg;","outputs":1,"noerr":0,"x":290,"y":300,"wires":[["9f76a73d.640158"]]},{"id":"9b9bacaa.ee2c2","type":"ui_template","z":"22117ef5.34e782","group":"39eba160.64cc2e","name":"Repeat","order":7,"width":"2","height":"1","format":"<div style=\"margin:auto;\">Repeat</div>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":80,"y":780,"wires":[[]]},{"id":"ac618b73.695ca8","type":"ui_button","z":"22117ef5.34e782","name":"Repeat On","group":"39eba160.64cc2e","order":8,"width":"2","height":"1","passthru":false,"label":"On","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":230,"y":780,"wires":[["eb84a704.c92f88"]]},{"id":"fbff271.7bdcfd8","type":"ui_button","z":"22117ef5.34e782","name":"Repeat Off","group":"39eba160.64cc2e","order":9,"width":"2","height":"1","passthru":false,"label":"Off","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":230,"y":820,"wires":[["f1fe4ffd.f8afb"]]},{"id":"c2a9a7b3.2476d8","type":"ui_template","z":"22117ef5.34e782","group":"39eba160.64cc2e","name":"Shuffle","order":10,"width":"2","height":"1","format":"<div style=\"margin:auto;\">Shuffle</div>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":70,"y":860,"wires":[[]]},{"id":"27a2a0a2.5cd2d","type":"ui_button","z":"22117ef5.34e782","name":"Shuffle On","group":"39eba160.64cc2e","order":11,"width":"2","height":"1","passthru":false,"label":"On","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":230,"y":860,"wires":[["f4ea2c6a.a281"]]},{"id":"bbe5acbe.21cc9","type":"ui_button","z":"22117ef5.34e782","name":"Shuffle Off","group":"39eba160.64cc2e","order":12,"width":"2","height":"1","passthru":false,"label":"Off","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":230,"y":900,"wires":[["dec300d8.233c3"]]},{"id":"7fb436ef.f2d3b8","type":"ui_button","z":"22117ef5.34e782","name":"Refresh Device","group":"7bea4aa8.d8cdb4","order":3,"width":"1","height":"1","passthru":false,"label":"","tooltip":"","color":"","bgcolor":"","icon":"refresh","payload":"","payloadType":"str","topic":"","x":120,"y":60,"wires":[["a8b2ebcc.daf8b8"]]},{"id":"d7a24427.f140d8","type":"ui_button","z":"22117ef5.34e782","name":"Refresh Provider","group":"7bea4aa8.d8cdb4","order":6,"width":"1","height":"1","passthru":false,"label":"","color":"","bgcolor":"","icon":"refresh","payload":"","payloadType":"str","topic":"","x":110,"y":220,"wires":[["1daf530a.aa95fd"]]},{"id":"b4a01419.463b68","type":"alexa-remote-event","z":"22117ef5.34e782","name":"","account":"0471479c4abbdad4","event":"ws-audio-player-state-change","x":150,"y":1000,"wires":[["5eb2b40b.4daaac"]]},{"id":"7f91a549.1de88c","type":"ui_template","z":"22117ef5.34e782","group":"c67b7b1.78a7c88","name":"Image","order":2,"width":"6","height":"7","format":"<a href=\"{{msg.payload}}\">\n    <img src=\"{{msg.payload}}\" alt=\"oh no\" width=\"310\">\n</a>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":570,"y":1040,"wires":[[]]},{"id":"7571c57d.0ab18c","type":"ui_template","z":"22117ef5.34e782","group":"c67b7b1.78a7c88","name":"Title","order":1,"width":"6","height":"1","format":"<div ng-bind-html=\"msg.payload\" style=\"margin:auto; margin-top:0;\">\n</div>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":570,"y":1000,"wires":[[]]},{"id":"841d671e.75e718","type":"ui_slider","z":"22117ef5.34e782","name":"","label":"","tooltip":"","group":"c67b7b1.78a7c88","order":3,"width":0,"height":0,"passthru":false,"outs":"end","topic":"","min":0,"max":"100","step":"1","x":570,"y":1080,"wires":[[]]},{"id":"ce0bd87e.fff938","type":"function","z":"22117ef5.34e782","name":"progress","func":"let interval = context.get('interval');\nif(interval) clearInterval(interval);\ncontext.set('interval', undefined);\n\nif(!msg.payload.progress) return;\n\nconst updateTime = Date.now();\nconst updateProgress = msg.payload.progress.mediaProgress;\nconst mediaLength = msg.payload.progress.mediaLength;\nconst fraction = updateProgress / mediaLength;\nnode.send({ payload: fraction * 100 });\n\nif(msg.payload.state !== 'PLAYING') return;\n\ncontext.set('interval', setInterval(() => {\n    const elapsed = Date.now() - updateTime;\n    const progress = updateProgress + elapsed / 1000;\n    const fraction = progress / mediaLength;\n    node.send({ payload: fraction * 100 });\n}, 1000));\n\n\n\n","outputs":1,"noerr":0,"x":440,"y":1080,"wires":[["841d671e.75e718"]]},{"id":"3d0ef7dc.c363f8","type":"change","z":"22117ef5.34e782","name":"infoText","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.infoText.title","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":440,"y":1000,"wires":[["7571c57d.0ab18c"]]},{"id":"8c8d3f25.8a171","type":"change","z":"22117ef5.34e782","name":"mainArt","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.mainArt.url","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":440,"y":1040,"wires":[["7f91a549.1de88c"]]},{"id":"a8b2ebcc.daf8b8","type":"alexa-remote-echo","z":"22117ef5.34e782","name":"","account":"0471479c4abbdad4","config":{"option":"get","value":{"what":"device","device":{"type":"str","value":"ALEXA_ALL_DSN"}}},"x":310,"y":60,"wires":[["5655df2f.935bd"]]},{"id":"1daf530a.aa95fd","type":"alexa-remote-other","z":"22117ef5.34e782","name":"","account":"0471479c4abbdad4","config":{"option":"get","value":{"what":"musicProviders"}},"x":320,"y":220,"wires":[["40afda1c.564ec4"]]},{"id":"faa04f1d.4e6b2","type":"alexa-remote-echo","z":"22117ef5.34e782","name":"","account":"0471479c4abbdad4","config":{"option":"command","value":{"device":{"type":"str","value":"G091B00300260HDU"},"what":"pause"}},"x":230,"y":540,"wires":[[]]},{"id":"82967d34.a410f","type":"alexa-remote-echo","z":"22117ef5.34e782","name":"","account":"0471479c4abbdad4","config":{"option":"command","value":{"device":{"type":"str","value":"G091B00300260HDU"},"what":"play"}},"x":220,"y":580,"wires":[[]]},{"id":"694ab438.033a6c","type":"alexa-remote-routine","z":"22117ef5.34e782","name":"","account":"0471479c4abbdad4","routineNode":{"type":"music","payload":{"device":{"type":"flow","value":"device"},"provider":{"type":"str","value":"I_HEART_RADIO"},"search":{"type":"flow","value":"query"},"duration":{"type":"num","value":""}}},"x":240,"y":480,"wires":[[]]},{"id":"91ba2c5a.82db3","type":"alexa-remote-echo","z":"22117ef5.34e782","name":"","account":"0471479c4abbdad4","config":{"option":"command","value":{"device":{"type":"str","value":"G091B00300260HDU"},"what":"volume","value":{"type":"msg","value":"payload"}}},"x":410,"y":720,"wires":[[]]},{"id":"eb84a704.c92f88","type":"alexa-remote-echo","z":"22117ef5.34e782","name":"","account":"0471479c4abbdad4","config":{"option":"command","value":{"device":{"type":"str","value":"G091B00300260HDU"},"what":"repeat","value":{"type":"bool","value":"true"}}},"x":410,"y":780,"wires":[[]]},{"id":"f1fe4ffd.f8afb","type":"alexa-remote-echo","z":"22117ef5.34e782","name":"","account":"0471479c4abbdad4","config":{"option":"command","value":{"device":{"type":"str","value":"G091B00300260HDU"},"what":"repeat","value":{"type":"bool","value":"true"}}},"x":410,"y":820,"wires":[[]]},{"id":"f4ea2c6a.a281","type":"alexa-remote-echo","z":"22117ef5.34e782","name":"","account":"0471479c4abbdad4","config":{"option":"command","value":{"device":{"type":"str","value":"G091B00300260HDU"},"what":"shuffle","value":{"type":"bool","value":"true"}}},"x":400,"y":860,"wires":[[]]},{"id":"dec300d8.233c3","type":"alexa-remote-echo","z":"22117ef5.34e782","name":"","account":"0471479c4abbdad4","config":{"option":"command","value":{"device":{"type":"str","value":"G091B00300260HDU"},"what":"shuffle","value":{"type":"bool","value":"false"}}},"x":400,"y":900,"wires":[[]]},{"id":"5eb2b40b.4daaac","type":"alexa-remote-echo","z":"22117ef5.34e782","name":"","account":"0471479c4abbdad4","config":{"option":"get","value":{"what":"playerInfo","device":{"type":"str","value":"G091B00300260HDU"}}},"x":240,"y":1040,"wires":[["3d0ef7dc.c363f8","8c8d3f25.8a171","ce0bd87e.fff938"]]},{"id":"34484c2.09056b4","type":"ui_button","z":"22117ef5.34e782","name":"Previous","group":"39eba160.64cc2e","order":3,"width":"3","height":"1","passthru":false,"label":"","tooltip":"","color":"","bgcolor":"","icon":"fa-arrow-left","payload":"","payloadType":"str","topic":"","x":80,"y":620,"wires":[["78d01d19.8aa394"]]},{"id":"9a6648eb.c51938","type":"ui_button","z":"22117ef5.34e782","name":"Next","group":"39eba160.64cc2e","order":4,"width":"3","height":"1","passthru":false,"label":"","tooltip":"","color":"","bgcolor":"","icon":"fa-arrow-right","payload":"","payloadType":"str","topic":"","x":70,"y":660,"wires":[["abfde996.fc2028"]]},{"id":"78d01d19.8aa394","type":"alexa-remote-echo","z":"22117ef5.34e782","name":"","account":"0471479c4abbdad4","config":{"option":"command","value":{"device":{"type":"str","value":"G091B00300260HDU"},"what":"previous"}},"x":240,"y":620,"wires":[[]]},{"id":"abfde996.fc2028","type":"alexa-remote-echo","z":"22117ef5.34e782","name":"","account":"0471479c4abbdad4","config":{"option":"command","value":{"device":{"type":"str","value":"G091B00300260HDU"},"what":"next"}},"x":230,"y":660,"wires":[[]]},{"id":"2b007d23.413502","type":"ui_template","z":"22117ef5.34e782","group":"39eba160.64cc2e","name":"Volume","order":5,"width":"2","height":"1","format":"<div style=\"margin:auto;\">Volume</div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","className":"","x":80,"y":720,"wires":[[]]},{"id":"7bea4aa8.d8cdb4","type":"ui_group","name":"Choose","tab":"d90ac71.2bb0038","order":1,"disp":true,"width":"6","collapse":false},{"id":"39eba160.64cc2e","type":"ui_group","name":"Controls","tab":"d90ac71.2bb0038","order":2,"disp":true,"width":"6","collapse":false},{"id":"0471479c4abbdad4","type":"alexa-remote-account","name":"Alexa-remote","authMethod":"proxy","proxyOwnIp":"localhost","proxyPort":"3456","cookieFile":"authFile","refreshInterval":"3","alexaServiceHost":"pitangui.amazon.com","amazonPage":"amazon.com","acceptLanguage":"en-US","userAgent":"","useWsMqtt":"on","autoInit":"on"},{"id":"c67b7b1.78a7c88","type":"ui_group","name":"Music","tab":"d90ac71.2bb0038","order":3,"disp":true,"width":"6","collapse":false},{"id":"d90ac71.2bb0038","type":"ui_tab","name":"Alexa Play Music","icon":"speaker","order":12,"disabled":false,"hidden":false}]